* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #056892;
  --primary-color: rgb(237, 198, 43);
  --font-main: "monospace";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: var(--font-main);
}

#game__board {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#game__info {
  font-size: 36px;
  font-weight: 700;
  margin: 30px 0;
  color: var(--primary-color);
}

#restart {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 10px;
  background-color: var(--primary-color);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow ease-in-out 0.3s;
  margin: 30px 0;
}

#restart:hover {
  box-shadow: none;
}

.header {
  font-weight: 900;
  margin-bottom: 50px;
  color: var(--primary-color);
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 90px;
  height: 90px;
  border: 15px solid var(--primary-color);
  border-radius: 50%;
}

.cross {
  width: 90px;
  height: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
}

.cross::before {
  left: 50%;
  width: 30%;
  margin-left: -12%;
  height: 100%;
}

.cross::after {
  top: 50%;
  width: 100%;
  height: 30%;
  margin-top: -12%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: black;
  text-align: center;
  color: #ccc;
  font-size: 20px;
  padding: 10px;
}

.footer__1,
.footer__2 {
  margin: 10px;
}
